In [2]:
import pandas as pd
import numpy as np

project_data = "C:/Users/yadap/Desktop/DPS/Project/dataset.csv"
df = pd.read_csv(project_data)
df.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,State,Current_Job_Years,Current_House_Years,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Madhya_Pradesh,3.0,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Maharashtra,9.0,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Kerala,4.0,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Odisha,2.0,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tamil_Nadu,3.0,14,1

In [3]:
print(df.columns)

Index(['Id', 'Income', 'Age', 'Experience', 'Married/Single',
       'House_Ownership', 'Car_Ownership', 'Profession', 'State',
       'Current_Job_Years', 'Current_House_Years', 'Risk_Flag'],
      dtype='object')

In [11]:
from sklearn.cluster import KMeans

# Define the features
X = df[["Id", "Income",'Age','Experience','Married/Single', 'House_Ownership', 'Car_Ownership', 'Profession', 'State', 'Current_Job_Years', 'Current_House_Years']]

from sklearn.preprocessing import LabelEncoder

label_encoders = {}
for column in ['Married/Single', 'House_Ownership', 'Car_Ownership', 'Profession', 'State']:
    le = LabelEncoder()
    X[column] = le.fit_transform(X[column])
    label_encoders[column] = le

# Perform KMeans clustering
k = 2  # Number of clusters
kmeans = KMeans(n_clusters=k, random_state=42)
kmeans.fit(X)

# Get cluster labels
cluster_labels = kmeans.labels_

# Add cluster labels to the dataframe
df['Cluster_Labels'] = cluster_labels

# Explore cluster centers
cluster_centers = kmeans.cluster_centers_

# Print cluster centers
print("Cluster Centers:")
print(cluster_centers)

# Explore cluster sizes
unique, counts = np.unique(cluster_labels, return_counts=True)
cluster_sizes = dict(zip(unique, counts))

# Print cluster sizes
print("Cluster Sizes:")
print(cluster_sizes)

C:\Users\yadap\AppData\Local\Temp\ipykernel_11260\4195184987.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = le.fit_transform(X[column])

Cluster Centers:
[[3.28502096e+04 7.50113209e+06 4.94986333e+01 9.80019609e+00
  9.08164478e-01 1.91181888e+00 2.95026442e-01 2.51961495e+01
  1.36495335e+01 6.25025254e+00 1.19879672e+01]
 [3.30276947e+04 2.47774026e+06 4.97672270e+01 9.91875298e+00
  9.01138531e-01 1.89011087e+00 3.06092036e-01 2.53154208e+01
  1.37052635e+01 6.25584168e+00 1.19881676e+01]]
Cluster Sizes:
{0: 33694, 1: 33516}

In [12]:
from sklearn.metrics import silhouette_score

# Compute silhouette score
silhouette_avg = silhouette_score(X, cluster_labels)
print("Silhouette Score:", silhouette_avg)

Silhouette Score: 0.6300726192670372